/* RESET CSS */
* {
    background-color: #FCE5BC;
}
/* FIM RESET CSS */

.titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-decoration: underline;
}

.login {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;

}

.inputUsuario, .inputSenha {
    background-color: rgba(255, 255, 255, 0.493);
    font-family: 'Poppins', sans-serif; 
}

.botao-entrar {
    font-family: 'Poppins', sans-serif ;
}

.mensagem {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

.cadastre-se {
    color: #B42828;
}